<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>{{ projectName }}</h3>
    <p>
      FijneDagen is een service waar je een hotelkamer kan reserveren.<br />
      Hotelkamers hebben ook bepaalde faciliteiten die het verblijf een stuk leuker maken!<br />
      Klinkt wel geinig toch?<br />
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ authorName }}</h5>
        <p class="card-text">Studentnummer: {{ authorID }}</p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md">
    <p>User</p>
    <ul>
      <li>Id: long</li>
      <li>Email: string</li>
      <li>UserName: string</li>
      <li>Guest: Guest</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md">
    <p>Guest</p>
    <ul>
      <li>Id: long</li>
      <li>Email: string</li>
      <li>FirstName: string</li>
      <li>LastName: string</li>
      <li>BirthDate: DateTime</li>
      <li>Address: Address</li>
      <li>Reservations: ICollection&lt;Reservation&gt;</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md">
    <p>Reservations</p>
    <ul>
      <li>Id: long</li>
      <li>SubmitDate: DateTime</li>
      <li>StartDate: boolean</li>
      <li>EndDate: DateTime</li>
      <li>Guests: ICollection&lt;Guest&gt;</li>
      <li>Room: Room</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md">
    <p>Room</p>
    <ul>
      <li>Id: long</li>
      <li>Name: string</li>
      <li>ShortDescription: string</li>
      <li>LongDescription: string</li>
      <li>MaxPersons: int</li>
      <li>Rating: double</li>
      <li>PricePerNight: double</li>
      <li>ImagePath: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md">
    <p>Facility</p>
    <ul>
      <li>Id: long</li>
      <li>Name: string</li>
      <li>ShortDescription: string</li>
      <li>LongDescription: string</li>
      <li>Price: double</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
