<div class="starter-template col-12">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-6 text-danger text-center">
      <h1 class="display-1">Hallo!</h1>
      <p class="lead">
        Ik maak mijn applicatie eigenlijk in blazor, <br />
        maar ik kreeg het deployen niet op tijd voor elkaar. <br />
        Daarom heb ik nu dit snel even opgezet, zodat ik in ieder geval iets heb. <br />
        Neem gerust een kijkje op mijn about pagina.
      </p>
    </div>
  </div>
</div>
